@import url('https://fonts.googleapis.com/css?family=Cabin|Great+Vibes|PT+Sans:400,700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-main:    'PT Sans', sans-serif;
    --font-second:  'Great Vibes', cursive;
    --font-body:    'Cabin', sans-serif;
    --main-color:   #252525;
    --second-color: #c59d5f;
    --body-color:   #515151;
    --white-color: #fff;
}
html{
    font-family: var(--font-body);
    font-size: 12px;
    color: var(--body-color);
    scroll-behavior: smooth;
}
section{
    padding: 3.9em 0;
}
img{
    width: 100%;
    min-width: 100%;
}
a{
    text-decoration: none;
    list-style: none;
}
p{
    font-style: 1.6rem;
}
.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.header-main{
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0, .8), transparent);
}
.logo{
    width: 100px;
}
.nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-toggle{
    color: var(--white-color);
    font-style: 2rem;
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
}
.fa-times{
    display: none;
}
.nav-list{
    list-style: none;
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--body-color);
    padding: 4.4rem;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}
.nav::before{
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.open .fa-times{
    display: block;
}
.open .fa-bars{
    display: none;
}
.open .nav-list{
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}
.nav-item{
    border-bottom: 2px solid rgba(255,255,255, .3)
}
.nav-link{
    display: block;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2.5px;
    margin-right: -2px;
    transition: color .5s;
}
.nav-link:hover{
    color: var(--second-color);
}
.hero{
    width: 100%; height: 100vh;
    background: url(./images/hero1.jpg) center / cover;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(5);
}
.sub-headline{
    font-size: 8.5rem;
    font-family: var(--font-second);
    color: var(--second-color);
    font-weight: 100;
    line-height: .5;
    letter-spacing: 2px;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
}
.first-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}
.headline{
    color: var(--white-color);
    font-size: 3.7rem;
    font-family: var(--font-main);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5rem;
}
.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: var(--white-color);
    position: relative;
}
.line-left::before,
.line-right::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
}
.line-right::before{
    border-right-color: var(--white-color);
    right: 0;
}
.line-left::before{
    border-left-color: var(--white-color);
    left: 0;
}
.star{
    font-size: 1.2rem;
    color: var(--second-color);
    margin: 0 1.6rem;
}
.headline-description h5{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.8);
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: var(--white-color);
    padding: .9rem 1.8rem;
    color: var(--body-color);
    border-radius: .4rem;
    transition: background-color .5s;
}
.cta-btn:hover,
.cta-btn:focus{
    color: var(--white-color);
    background-color: var(--second-color);
}
.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}
.discover-story .global-headline{
    margin-top: 6.9rem;
}
.global-headline .fa-star{
    color: var(--body-color);
    margin: 2.3rem 0;
}
.headline-dark{
    color: var(--main-color);
    letter-spacing: .7rem;
}
.restaurant-info{
    text-align: center;
}
.restaurant-description{
    margin-bottom: 3rem;
}
.restaurant-info-img{
    max-width: 50%;
    margin: 0 auto;
}
.body-btn{
    font-size: 1.5rem;
    color: var(--second-color);
    position: relative;
    transition: color .5s;
    margin-top: 2.5rem;
}
.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--second-color);
    transition: background-color .5s;
}
.body-btn:hover,
.body-btn:focus{
    color: var(--main-color);
}
.body-btn:hover::before,
.body-btn:focus::before{
    background-color: var(--main-color);
}
.tasteful-recipes{
    background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.521)), 
    url(./images/tasteful1.jpg) center no-repeat;
    background-size: cover;
}
.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}