@import url('https://fonts.googleapis.com/css?family=Cabin|Great+Vibes|PT+Sans:400,700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-main:    'PT Sans', sans-serif;
    --font-second:  'Great Vibes', cursive;
    --font-body:    'Cabin', sans-serif;
    --main-color:   #252525;
    --second-color: #c59d5f;
    --body-color:   #515151;
}
html{
    font-family: var(--font-body);
    font-size: 10px;
    color: var(--body-color);
    scroll-behavior: smooth;
}
section{
    padding: 3.9em 0;
}
img{
    width: 100%;
    min-width: 100%;
}
a{
    text-decoration: none;
    list-style: none;
}
p{
    font-style: 1.6rem;
}
.container{
    width: 100%;
    min-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
.header-main{
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0, .5), transparent);
}

